/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    text-decoration: none;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #000000;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
}


/*  Navber  */

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 84px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo img{
    width: 70%;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    font-family: "Avenir Next", sans-serif;
    letter-spacing: 2px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
    
}
.nav-links li a:hover{
    color: grey;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
}
.nav-bar .darkLight-searchBox a{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
    padding-right: 2px;
}


.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    margin-left: -2%;
    
}
.darkLight-searchBox{
    cursor: pointer;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav .nav-bar .logo img{
        width: 80%;
        margin-left: 40%;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
     .nav-links li a:hover{
        color: #393838;
    }
}
@media (max-width: 450px) {
    nav .nav-bar .logo img{
        width: 90%;
        margin-left: 40%;
    } 
}
@media screen and(max-width: 375px){
    nav .nav-bar .logo img{
        width: 90%;
        /* margin-left: 40%; */
    }
}
@media screen and (max-width:330px){
  nav .nav-bar .logo img{
    width: 90%;

}
}

/* Model Active End Disable*/

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 17%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    transition: 10ms ease-in-out;
    z-index: 1000;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    margin-left: 10%;
    height: 100%;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 100ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }


/* background  */

.banner{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    background-image: url(images/iamges2/men-back.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    margin-top: 7%; 
}
.banner .content{
    text-align: center;
    padding-top: 350px;
    
}
.banner .content h1{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-size: 5.5rem;
    font-family: monospace , Arial, Helvetica, sans-serif;
    font-weight: 50;
    margin-right: 7%;
    margin-top: -10%;
}
.banner .content button,a{
    
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: -1%;
    font-size: 1rem;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #FFF;
    font-weight: 300;
    letter-spacing: 2px;
    font-family:  'Arial Narrow', Arial, sans-serif;
}
.banner .content a:hover{
   color: grey;
}
@media screen and (max-width:1070px){
    .banner .content button ,a{
        margin-top: -30%;
    }
   }
   @media screen and (max-width:850px){
    .banner .content h1{
        margin-top: -20%;
    }
    .banner .content button ,a{
        margin-top: -40%;
    }
   }
   @media screen and (max-width:725px){
    .banner .content h1{
        margin-top: -20%;
        font-size: 4rem;
    }
   }

   @media screen and (max-width:435px){
    .banner .content h1{
        font-size: 10%;
        margin-top: -50%;
    }
   }
   @media screen and (max-width:418px){
    .banner .content h1{
        font-size: 20%;
    }
   }
   @media screen and (max-width:400px){
    .banner .content h1{
        font-size: 5rem;
    }
    .banner .content button,a{
        
        margin-right: 4%;
        margin-top: -100%;
        margin-bottom: -1%;
        font-size: 1rem;
        color: red;
        width: 40%;
    }
   }
   @media screen and (max-width:450px){
    .banner{
        width: 100%;
        height: 50vh;
        margin-top: 50px;
    }
    .banner .content h1{
        margin-top: -20%;
        font-size: 3rem;
    }
    .banner .content button,a{
        
        margin-right: 4%;
        margin-top: 6%;
        margin-bottom: -1%;
        font-size: 1rem;
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: #FFF;
        font-weight: 300;
        letter-spacing: 2px;
        font-family:  'Arial Narrow', Arial, sans-serif;
    }
   }
   @media screen and (max-width:400px){
    .banner .content h1{
        margin-top: -30%;
        font-size: 3rem;
    }
    .banner .content button,a{
        
        margin-right: 4%;
        margin-top: 6%;
        margin-bottom: -1%;
        font-size: 1rem;
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: #FFF;
        font-weight: 300;
        letter-spacing: 2px;
        font-family:  'Arial Narrow', Arial, sans-serif;
    }
   }
/* filters and search  */
.nav2{
  position: fixed;
  top: 0;
  left: 0;
  height: 84px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
.navbar {
    overflow: hidden;
    background-color: #000000;
    margin-top:-0.10%;
  }
  
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .filter{
    margin-top: 2%;
    color: red;
  }
  .dropdown1{
    margin-left: 87%;
    margin-top: -7%;
  }

    @media screen and (max-width:1270px){
      .dropdown1{
        margin-left: 85%;
      }
   }
   @media screen and (max-width:1170px){
    .dropdown1{
      margin-left: 83%;
    }
  }
  @media screen and (max-width:1015px){
    .dropdown1{
      margin-left: 80%;
     
    }
  }
  @media screen and (max-width:880px){
    .dropdown1{
      margin-left: 78%;
    }
  }
  @media screen and (max-width:775px){
    .dropdown1{
      margin-left: 75%;
      margin-top: -15%;
    }
  }
  @media screen and (max-width:710px){
    .dropdown1{
      margin-left: 72%;
    }
  }
  @media screen and (max-width:588px){
    .dropdown1{
      margin-left: 68%;
    }
  }
  @media screen and (max-width:520px){
    .dropdown1{
      margin-left: 60%;
    }
  }
  @media screen and (max-width:450px){
    .dropdown1{
      margin-left: 57%;
    }
  }
  @media screen and (max-width:430px){
    .filter{
      margin-top: 5%;
    }
    .dropdown1{
      margin-top: -24%;
    }
  }
  @media screen and (max-width:400px){
    .dropdown1{
      margin-left: 51%;
    }
  }
  @media screen and (max-width:350px){
    .dropdown1{
      margin-left: 45%;
    }
  }